 .overallbox {
  padding-left: 30px;
   padding-right: 30px;
   margin-top: 5%;

 }
 .subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: rgb(3, 3, 3);
}

.subtitle1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  color: rgb(3, 3, 3);
}




 .cardbox {
   padding: 10px;
   margin-bottom: 50px;
   display: flex;
   gap: 20px;
   box-shadow: 3px 3px 15px  #FFFFFF, -3px -3px 15px #e7ecf3;
   background: linear-gradient(145deg,#FFFFFF, #eaeef1);
   transition: all 0.3s ease-in-out;

 }


 .cardbox:hover {

  box-shadow: 3px 3px 10px #B1BFD8, -3px -3px 10px #FFFFFF; 
  background: linear-gradient(145deg, #afd68f,#ffffff, #def172); 
  transform: scale(1.1); 
}
 .year {
   font-weight: bold;
   font-family: "Josefin Sans", sans-serif;
   color: #333;
   min-width: 50px;
 }

 .company {
   font-weight: 400;
   font-size: 14px;
   margin-top: 2px;
   margin-bottom: 10px;
   color: #0f0f0f;
 }

 .description {
   font-weight: 600;
   font-size: 14px;
   margin-top: 10px;
   margin-bottom: 10px;
   color: #464545;
 }


 
/* Responsive Design */
@media (max-width: 768px) {

  .subtitle{
     
      font-size: 18px;
  }
  .subtitle1{
    font-size: 14px;
}
  .description{
    font-size: 12px;
  }


}

@media (max-width: 576px) {
  .subtitle{
 
    font-size: 18px;
}
  .subtitle1{
      font-size: 14px;
  }

  .description{
    font-size: 12px;
  }
 
}
